<!DOCTYPE html> 
<html> 
<head> 
  <meta charset="utf-8" />
  <title>Результаты голосования</title>
</head> 
<body> 
  <div>
      <h3>Рейтинг народного голосования</h3>
      <ul>
          <li><span>Кол-во голосов за </span>{{framework1}}<span/>: </span>{{vote1}}</li>
          <li><span>Кол-во голосов за </span>{{framework2}}<span>: </span>{{vote2}}</li>
          <li><span>Кол-во голосов за </span>{{framework3}}<span>: </span>{{vote3}}</li>
      </ul>
  </div> 
</body> 
</html>
